<div class="flex justify-between my-4 w-full md:hidden">
  <div *ngFor="let item of weather; let i = index">
    <div
      *ngIf="i < 5"
      class="flex flex-col p-4 rounded-2xl space-y-4 w-fit shadow-md shadow-slate-200"
    >
      <h3 class="text-xs font-bold text-center">{{ item.dt | day }}</h3>
      <div class="flex justify-center">
        <img src="../../../assets/icons/sun.svg" alt="sun" class="" />
      </div>
      <h3 class="text-xs font-bold text-center">
        {{ item.temp.day | number: "2.0-0" }} &#176;
      </h3>
    </div>
  </div>
</div>

<div class="hidden md:block">
  <h1 class="text-blue-500 text-3xl font-bold mb-8">
    {{ currentDate | date: "EEEE, MMMM d y" }}
  </h1>
  <div
    class="flex justify-between bg-white rounded p-[30px] box-border shadow-md shadow-slate-200"
  >
    <div>
      <p class="text-[34px] font-bold">17&#176;</p>
      <p class="text-[17px] font-bold">London, UK</p>
    </div>
    <div class="flex justify-center items-center">
      <img
        src="../../../assets/icons/sun.svg"
        alt="weather"
        class="h-[60px] w-[60px]"
      />
    </div>
  </div>

  <div *ngFor="let item of weather; let i = index" class="">
    <div *ngIf="i < 5" class="grid grid-cols-3 my-[22px]">
      <p class="text-xl font-bold text-slate-500 flex items-end">
        {{ item.dt | day }}
      </p>
      <span class="flex justify-center">
        <img src="../../../assets/icons/sun.svg" alt="sun" />
      </span>

      <span class="flex space-x-2 justify-end items-end">
        <p class="font-bold">{{ item.temp.max | number: "2.0-0" }}&#176;</p>
        <p class="text-slate-500 font-bold">
          {{ item.temp.min | number: "2.0-0" }}&#176;
        </p>
      </span>
    </div>
  </div>
</div>
