<div class="py-6 px-8 md:px-20 bg-slate-100">
  <news-navbar></news-navbar>
  <div class="">
    <news-weather></news-weather>
    <news-hot-news></news-hot-news>
  </div>
  <!-- <div class="md:flex-inline w-2/3">
    <news-hot-news></news-hot-news>
    <news-weather></news-weather>
  </div> -->
  <div class="mt-10">
    <news-latest-news></news-latest-news>
  </div>
  <!-- <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [infiniteScrollContainer]="'.main-panel'"
    [fromRoot]="true"
    (scrolled)="onScroll()"
  >
    {{ news | json }}

    {{ weather | json }}
  </div> -->
</div>
